@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Аренда Электросамокатов</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
<header>
    <div class="container">
        <nav class="d-flex justify-content-between align-items-center py-3">
            <div class="logo h4 mb-0">Аренда Электросамокатов</div>

            <div class="nav-links">
                <a class="me-3 text-decoration-none" asp-controller="Home" asp-action="SiteInformation">Главная</a>
                <a class="me-3 text-decoration-none" href="/#benefits">Преимущества</a>
                @if (HttpContextAccessor.HttpContext.Request.Cookies.ContainsKey("user")||HttpContextAccessor.HttpContext.Request.Cookies.ContainsKey("admin")||HttpContextAccessor.HttpContext.Request.Cookies.ContainsKey("technical"))
                {
                <a class="me-3 text-decoration-none" href="/#contacts">Профиль</a>
                <form method="post" asp-controller="User" asp-action="Logout">
                    <button type="submit" class="btn btn-danger">Выйти</button>
                </form>
                }
                else
                {
                <a class="me-3 text-decoration-none" asp-controller="User" asp-action="Login">Войти</a>
                <a class="text-decoration-none" asp-controller="User" asp-action="Registration">Регистрация</a>
                }
            </div>
        </nav>
    </div>
</header>

<div class="container">
    <main role="main">
        @RenderBody()
    </main>
</div>

<footer class="mt-5 py-3 bg-light">
    <div class="container text-center">
        © 2025 Аренда Электросамокатов — Все права защищены
    </div>
</footer>

<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
@RenderSection("Scripts", required:false)
</body>
</html>
